extends layout

block content
  .text-center(style='padding-top: 200px; font-size: 35px; background-color: #333; color: #EEE; position: absolute; width: 100%; height: 100%')
    i.glyphicon.glyphicon-exclamation-sign(style='font-size: 80px')
    p.multiline.
     Failed to deliver your feedback for some reason.
     Please try again.
    a(href='/'): button.btn.btn-success.fixed-button(type='button') Go back