extends layout

block content
  .feedback-container.text-center
    span.glyphicon.glyphicon-envelope
    p.multiline.
     We deeply appreciate your feedback. 
     Your opinion will shortly be dealt with.
    a(href='/'): button.btn.btn-success.fixed-button(type='button') Go back