extends layout

block content
  .feedback-container.text-center
    span.glyphicon.glyphicon-exclamation-sign
    p.multiline.
     Failed to deliver your feedback for some reason.
     Please try again.
    a(href='/'): button.btn.btn-success.fixed-button(type='button') Go back