extends layout

block content
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64280553-1', 'auto');
    ga('send', 'pageview');
      // Button trigger modal
  #myrelatedModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Related Videos
        .modal-body.related-body
          .related-template.hide
            .col-sm-4.col-md-4
              img.related-img.pull-left(src='')
            .col-sm-8.col-md-8
              p.related-title
            p.related-description
        .modal-footer
  .bar-container
    div
    div
    div
  nav.navbar.navbar-default.navbar-static-top.content-nav
    .inside-navbar.pull-left
      .pull-left
        .row
          .col-sm-1.col-md-1.col-lg-1
            a.mainlogo(href='/'): span.icon-youtube-play
          .col-sm-9.col-md-6.col-lg-6
            .searchField.input-group.input-group-lg#bloodhound
              input.form-control.input-lg.typeahead(type='search' placeholder='Search here and add videos to Playlist just by pressing enter' aria-describedby='sizing-addon1') 
              span.input-group-btn
                button.btn.btn-default.text-right.square
                  span.glyphicon.glyphicon-search

          .col-sm-2.col-md-5.col-lg-5.text-right
            .playlist-button
              button.btn.btn-xs.repeat-all Repeat all
              button.btn.btn-xs.repeat-one Repeat one
              button.btn.btn-xs.shuffle Shuffle

  .body.container-youtube
    .row
      .col-xs-12.col-sm-12.col-md-8
        #player
        button.btn.btn-success.btn-related-videos.pull-right(type='button', data-toggle='modal', data-target='#myrelatedModal')
          span.glyphicon.glyphicon-plus
      .col-xs-12.col-sm-12.col-md-4
        #playlist
          table.table.table-striped
            thead
              tr
                th.col-sm-1 
                th.col-sm-8 Title
                th.col-sm-3 Published on
            tbody#sortable
              tr.playlist.play-template.hide
                td
                td.playlist-title 
                td.playlist-date 
    .row
      .col-sm-10
      .col-sm-2.text-right
        button.btn.btn-default.btn-xs.delete-all Delete all