extends layout

block content
  h1 YouTube Player
  div
    div#player.pull-left
    div#playlist
      h2 Playlist
      ul.playlist
        li.playlist-li.play-template.hide
          span.glyphicon.glyphicon-play
          span.title
  form(data-toggle='youtube-search')
    #buttons
      label
        input#query(value='cats', type='text')
        button.btn.btn-mini#search-button(type='submit') Search
  #search-container
    ul.collection
      li.for-search.item-template.hide
        img.img-thumbnail
        span.title Title
        p
        
  h2.releaseNote 업데이트 알림
  h4 개선사항
  ul
    li 플레이리스트 다음곡 재생기능 추가
    li 플레이리스트 렌더링 시 중복 표시 버그 수정
  br
  h4 추후 작업 예정 사항
  ul
    li 플레이리스트에서 선택 목록 제거 기능 추가
    li 플레이리스트 목록 누르면 바로 재생 기능 추가
    li 플레이리스트 셔플 기능 추가
    li 플레이리스트 전체반복/한곡반복 기능 추가
    li 검색창 드롭다운으로 변경
    li 현재 검색내용 채널/비디오 다 검색되는 것 하나로 통일
    li 검색 결과 50개만 뜨는 것 개선
    li 최후에는 플레이리스트에 따라 관련된 영상 목록 제시
    li 한국어 / 영어 서비스
    li 서비스 소개 작성