doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/bower_components/materialize/dist/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/bower_components/materialize/templates/parallax-template/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    

    block content
    hr
    block subcontent
    //- Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/bower_components/materialize/dist/js/materialize.js')
    script(src='/bower_components/materialize/templates/parallax-template/js/init.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="auth.js")
    script(src="/javascripts/search.js")
    script(src="https://apis.google.com/js/client.js?onload=googleApiClientReady")