doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Youtube Player
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/typeahead.js-bootstrap3.less/typeahead.css')
    link(href="https://fontastic.s3.amazonaws.com/MQHkGRcDbNRHsc7j2GzZPF/icons.css" rel="stylesheet")
  body
    

    block content
    hr
    block subcontent
      nav.navbar.navbar-default.navbar-static-bottom.subcontent-nav
        .subcontent
          .row
            .col-sm-4
              .subcontent-left
                h1.subcontent-h2 How to use
                p.subcontent-p.multiline
                  :markdown
                    * **Type** in the search bar and go to the item you want to add and **press enter.**
                    * The selected video will be **added to the Playlist and be queued.**
                    * **Click the item** you wish to delete from the Playlist and **press delete.**
                    * **Double-click** the item in the Playlist you wish to play instantly.

            .col-sm-4
              .container.subcontent-center
                h2.subcontent-h2 
    //- Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src="https://apis.google.com/js/client.js?onload=googleApiClientReady")
    script(src="https://www.youtube.com/iframe_api")
    script(src="/bower_components/lodash/lodash.min.js")
    script(src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js")
    script(src="/bower_components/handlebars/handlebars.min.js")
    script(src="/javascripts/main.js")
    
