doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Youtube Player
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/typeahead.js-bootstrap3.less/typeahead.css')
    link(href="https://fontastic.s3.amazonaws.com/MQHkGRcDbNRHsc7j2GzZPF/icons.css" rel="stylesheet")
  body
    

    block content
    hr
    block subcontent
      nav.navbar.navbar-default.navbar-static-bottom.subcontent-nav
        .modal.fade#myModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              form.form-horizontal(action='/feedback', method='post')
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  h4.modal-title(id='myModalLabel') Let us hear what you have to say!
                .modal-body
                  .form-group
                    label.col-sm-2.control-label(for='inputEmail3') Email
                    .col-sm-10
                      input#inputEmail3.form-control(name='email', type='email', placeholder='your-email@address.com')
                  .form-group
                    label.col-sm-2.control-label(for='inputTitle') Title
                    .col-sm-10
                      input#inputTitle.form-control(name='title',type='text', placeholder='Title')
                  .form-group
                    label.col-sm-2.control-label(for='inputBody') Content
                    .col-sm-10
                      textarea#inputBody.form-control(name='content', type='text', rows= '10', placeholder='Please write your opinion here')
                  //- .form-group
                  //-   .col-sm-offset-2.col-sm-10
                  //-     button.btn.btn-default(type='submit') Send
                  .modal-footer
                    button.btn.btn-default.square(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-success.square(type='submit') Send

        .subcontent
          .row
            .col-sm-6
              .subcontent-left
                h1.subcontent-left-h1 How to use this
                ul.multiline
                  li <strong>Search: </strong> Type in the search bar.
                  li <strong>Add: </strong> Once the drop-down appears, click the video you want.
                  li <strong>Play: </strong> Double-click the video in the Playlist and it will start immediately.
                  li
                    | <strong>Delete: </strong> Click the item in the Playlist and press Shift + Delete.
                  li <strong>Reorder: </strong> Just drag and drop the item you wish to reorder.
                h3.subcontent-left-h3 It's as simple as this.

            .col-sm-6
              .subcontent-right
                h1.subcontent-right-h1.multiline.
                  Your feedback is
                  what makes us better
                button.center-block.fixed-button.btn.btn-success(type='button', data-toggle='modal', data-target="#myModal") Feedback


    //- Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src="https://apis.google.com/js/client.js?onload=googleApiClientReady")
    script(src="https://www.youtube.com/iframe_api")
    script(src="/bower_components/lodash/lodash.min.js")
    script(src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js")
    script(src="/bower_components/handlebars/handlebars.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/main.js")
    
