extends layout

block content
  //- script.
  //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  //-   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  //-   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //-   ga('create', 'UA-64280553-1', 'auto');
  //-   ga('send', 'pageview');
  .modal.fade#signinModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        form.form-horizontal(action='/signin', method='post')
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title(id='myModalLabel') Sign in
          .modal-body
            .form-group
              label.col-sm-2.control-label(for='UserID') User ID
              .col-sm-10
                input#UserID.form-control(name='UserAccount', type='text')
            .form-group
              label.col-sm-2.control-label(for='UserPassword') Password
              .col-sm-10
                input#UserPassword.form-control(name='UserPassword', type='password')
            .row(style='margin-right: 15px')
              .col-xs-9.col-sm-9
              .col-xs-1.col-sm-1
                a(href='/login/google' style='text-decoration: none; padding: 5px'): i(style='color: #c04f3c; font-size: 40px;').icon-social-github
              .col-xs-1.col-sm-1
                a(href='/login/facebook' style='text-decoration: none; padding: 5px'): i(style='color: #4b5d9a; font-size: 40px;').icon-social-facebook-1
              .col-xs-1.col-sm-1
                //- a(href='/login/twitter' style='text-decoration: none; padding: 5px'): i(style='color: #73a9ee; font-size: 40px;').icon-social-twitter-1
            .modal-footer
              .col-md-6
              .col-md-6
                a.signup-link(href='/signup'): p(style='font-size: 12px;').text-warning Don't have an account? Sign up now!
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-success(type='submit') Sign in
  .container-fluid(style='height: 1000px')
    .row
      .col-xs-12.col-sm-12.col-md-3.col-lg-3#playlist(style='height: 400px;')
        .row
          .col-xs-12.col-sm-12
            #player
        .row.behav-buttons(style='padding: 10px; background-color: #222; border-bottom: 1px solid royalblue')
          .col-xs-9.col-sm-9
          .col-xs-1.col-sm-1.text-center(style='cursor: pointer;')
            i.icon-retweet-1.repeat-all(style='font-size: 18px;')
          .col-xs-1.col-sm-1.text-center(style='cursor: pointer;')
            i.icon-number-one.repeat-one(style='font-size: 18px;')
          .col-xs-1.col-sm-1.text-center(style='cursor: pointer;')
            i.icon-random.shuffle(style='font-size: 18px;')
        .row.playlist-playlist-menu-2.hide(style='padding: 10px; background-color: #222; color: royalblue')
          .col-xs-10.col-sm-10.col-md-10.col-lg-10 My Playlists
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-music(style='cursor: pointer; line-height: 23px; font-size: 18px;')
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-block-menu(style='cursor: pointer; line-height: 23px; font-size: 18px;')
        .row.playlist-playlist-menu.hide(style='padding: 10px; background-color: #222; color: royalblue')
          .col-xs-10.col-sm-10.col-md-10.col-lg-10 My Playlists
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-plus.add-blank-playlist-button(style='cursor: pointer; line-height: 23px; font-size: 18px;')
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-music(style='cursor: pointer; line-height: 23px; font-size: 18px;')
        .row.main-playlist-2.hide(style='padding: 10px; background-color: #222; color: royalblue')
          .col-xs-10.col-sm-10.col-md-10.col-lg-10 New Videos
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-music(style='cursor: pointer; line-height: 23px; font-size: 18px;')
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-block-menu(style='cursor: pointer; line-height: 23px; font-size: 18px;')
        .row.main-playlist(style='padding: 10px; background-color: #222; color: royalblue')
          .col-xs-10.col-sm-10.col-md-10.col-lg-10 New Videos
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-plus.add-playlist-button(style='cursor: pointer; line-height: 23px; font-size: 18px;')
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-block-menu(style='cursor: pointer; line-height: 23px; font-size: 18px;')
        .row.playlist-slide.hide
          .col-xs-1.col-sm-1.col-md-1.col-lg-1.text-center(style='line-height: 23px; font-size: 18px; font-style: italic;')
          .col-xs-10.col-sm-10.col-md-10.col-lg-10(style='font-weight:100; font-size: 12px; cursor: pointer;') dd
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-minus(style='color: #AAA; cursor: pointer; line-height: 23px; font-size: 18px;')
        .row.add-blank-playlist.hide
          .col-md-12
            .row(style='padding: 10px; margin-bottom: 10px;')
              .col-md-12 Name
              .col-md-12
                form(action='/playlist/add/blank', method='post')
                  input.form-control(name='blank_playlist_name', type='text')
            .row(style='padding: 10px')
              .col-md-10
              .col-md-1
                button(type='submit' style='border: 0; background-color: transparent'): i.icon-cross(style='cursor: pointer; color: #AAA; line-height: 23px; font-size: 18px;')
              .col-md-1
                button(type='submit' style='border: 0; background-color: transparent'): i.icon-check(style='cursor: pointer; line-height: 23px; font-size: 18px; color: royalblue;')
            .row(style='padding: 10px')  
              .add-blank-playlist-success.hide.text-center(style='color: #C10010; font-size: 15px;') Success!
        .row.add-playlist.hide
          .col-md-12
            .row(style='padding: 10px; margin-bottom: 10px;')
              .col-md-12 Name
                form(action='/playlist/add/new', method='post')
                  input.form-control(name='blank_playlist_name', type='text')
            .row(style='padding: 10px')
              .col-md-10
              .col-md-1
                button(type='submit' style='border: 0; background-color: transparent'): i.icon-cross(style='cursor: pointer; color: #AAA; line-height: 23px; font-size: 18px;')
              .col-md-1
                button(type='submit' style='border: 0; background-color: transparent'): i.icon-check(style='cursor: pointer; line-height: 23px; font-size: 18px; color: royalblue;')
            .row(style='padding: 25px; border-top: 1px solid #CCC; background-color: #222;')
              .col-xs-9.col-sm-9(style='color: royalblue;') Shopping Cart
              .col-xs-3.col-sm-3.text-center.add-playlist-success.hide(style='color: #C10010;') Success
            .row.pending-videos.hide(style='padding-left: 25px; padding-right: 25px;')
              .col-xs-1.col-sm-1.col-md-1.col-lg-1.text-center(style='line-height: 23px; font-size: 18px; font-style: italic;')
              .col-xs-9.col-sm-9.col-md-9.col-lg-9(style='font-weight:100; font-size: 12px') dd
              .col-xs-1.col-sm-1.col-md-1.col-lg-1
              .col-xs-1.col-sm-1.col-md-1.col-lg-1.text-center(style='line-height: 20px; cursor: pointer;')
                i.icon-minus(style='color: #AAA; cursor: pointer; line-height: 23px; font-size: 18px;')
        .row.play-template.hide
          .col-xs-1.col-sm-1.col-md-1.col-lg-1.text-center(style='line-height: 23px; font-size: 18px; font-style: italic;')
          .col-xs-9.col-sm-9.col-md-9.col-lg-9(style='font-weight:100; font-size: 12px') dd
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-play(style='color: royalblue; cursor: pointer; line-height: 23px; font-size: 18px;')
          .col-xs-1.col-sm-1.col-md-1.col-lg-1
            i.icon-minus(style='color: #AAA; cursor: pointer; line-height: 23px; font-size: 18px;')
      .col-md-9.col-lg-9(style='background-color: #F0F0F0')
        .row
          .col-md-12.col-lg-12(style='background-color: #222; color: royalblue')
            nav.navbar.navbar-default
              a.navbar-brand.text-hide(href='/' style='background-image:url(/Listify_logo.png); background-repeat: no-repeat; background-position: center center; background-size: 100%; width:40px; height:50px;') 리스티 파이
                //- img(alt='Brand' src='/Listify_logo.png' style='width: 40px; height: 40px;')
              form.navbar-form.video-search-form.pull-left(role='search')
                .form-group
                  input(type='text' class='form-control' placeholder='Search' style='border: 2px solid royalblue;')
                button.btn.btn-default(type='submit' style='margin-left: 10px;'): i.glyphicon.glyphicon-search
              if !locals.session.user
                button.btn.btn-default.pull-right(type='button' data-toggle='modal' data-target='#signinModal' style='margin: 8px 8px 8px 0px;') Sign in
              else
                .some.pull-right(style='line-height: 53px; margin-right: 10px')
                  img.img-self.img-circle(src='http://wynway.com/wp-content/uploads/2014/11/blank_person_81.png')
                  | #{locals.session.user.user_id}
                  a(href='/logout' style='text-decoration: none'): i.icon-off.log-out-button(style='color: #C10010; border-color: royalblue; font-size: 25px; vertical-align: middle')
        .row              
          .col-md-12.col-lg-12
            .when-no-result
              .text-muted(style='font-size: 40px; margin-left: 50px; margin-top: 100px;') Search Results will appear here
              .nothing(style='height: 700px;')
            .video-search-title.hide(style='font-size: 40px; padding: 10px;') Results
            .video-search-results(style='margin-bottom: 50px;')
              .video-search-result-template.hide
                .row
                  .col-md-1.text-center(style='line-height: 120px; font-size: 30px; font-style: italic;')
                  .col-md-2(style='line-height: 120px;')
                    img(src='http://bin.zari.me/120x120' style='line-height: 120px;')
                  .col-md-7(style='padding: 10px; line-height: 20px')
                  .col-md-1.play-video.text-center(style='line-height: 120px; cursor: pointer; background-color: #000; border-color: royalblue;')
                    i.icon-play(style='font-size: 30px; color: royalblue;')
                  .col-md-1.add-video.text-center(style='line-height: 120px; cursor: pointer;')
                    i.icon-plus(style='font-size: 30px; color: #CCC')
              
