extends layout

block content
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new ();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64280553-1', 'auto');
    ga('send', 'pageview');
  .modal.fade#signinModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        form.form-horizontal(action='/signin', method='post')
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title(id='myModalLabel') Sign in
          .modal-body
            .form-group
              label.col-sm-2.control-label(for='UserID') User ID
              .col-sm-10
                input#UserID.form-control(name='UserAccount', type='text')
            .form-group
              label.col-sm-2.control-label(for='UserPassword') Password
              .col-sm-10
                input#UserPassword.form-control(name='UserPassword', type='password')
            .row(style='margin-right: 15px')
              .col-xs-9.col-sm-9
              .col-xs-1.col-sm-1
                a(href='/login/google' style='text-decoration: none; padding: 5px'): i(style='color: #c04f3c; font-size: 40px;').icon-social-github
              .col-xs-1.col-sm-1
                a(href='/login/facebook' style='text-decoration: none; padding: 5px'): i(style='color: #4b5d9a; font-size: 40px;').icon-social-facebook-1
              .col-xs-1.col-sm-1
                //- a(href='/login/twitter' style='text-decoration: none; padding: 5px'): i(style='color: #73a9ee; font-size: 40px;').icon-social-twitter-1
            .modal-footer
              .col-md-6
              .col-md-6
                a.signup-link(href='/signup'): p(style='font-size: 12px;').text-warning Don't have an account? Sign up now!
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-success(type='submit') Sign in
  .container
    .row
      .col-md-12
        .main-intro.text-center
          h2.main-intro-h2.center-block What is Listify?
          h4.main-intro-h4.center-block.multiline.text-center.
            Listify helps you make YouTube Playlists easily. You can add songs to a Playlist and set Playlist behaviour
            just like any other music player. You can create, share multiple Playlists, follow friends, and see what
            songs they are listening to. Try out and check how easy it is to do what had been impossible with YouTube.
  .container(style='margin-top: 100px')
    .row
      .col-md-4 
        .main-intro-content
          i.icon-list-unordered.center-block.text-center
          p.multiline.text-center.
            Create Playlists with each
            having its own theme
      .col-md-4
        .main-intro-content
          i.icon-gear.center-block.text-center
          p.text-center.multiline.
            Choose between
            <em> Repeat all / Repeat one / Shuffle </em>
      .col-md-4
        .main-intro-content
          i.icon-repo-forked.center-block.text-center
          p.text-center.
            Fork other users' Playlists

      .col-md-12
        button.btn.btn-warning.btn-lg.main-sign-in.center-block(type='button', data-toggle='modal', data-target='#signinModal') Sign in
        if locals.session.error
          p.text-center #{locals.session.error}
        p.no-sign-in.text-center: a(href='/main/service') continue without signing in
