body {
  /*padding: 50px;*/
  font: 14px Helvetica, Arial, sans-serif;
  margin-bottom: 120px;
  background-color: #FAFAFA !important;
}

.icon-youtube-play {
  font-size: 100px;
  /*float: left;*/
  vertical-align: middle;
  line-height: 0px;
  position: relative;
  bottom: -5px;
  margin-left: 15px;
  margin-right: 20px;
}

.searchField .col-lg-6 {
  margin-top: 33px;
}

.form-control:focus {
  border-color: #C10010 !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(193, 0, 16, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(193, 0, 16, .6) !important;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
nav {
  margin: auto;
  background-color: #FFFFFF !important;
  color: #C10010;
}

.container-youtube {
  padding: 0 30px;
  /*max-width: 1500px;*/
  /*margin: 0 auto;*/
}

#playlist table {
  text-align: justify;
}

#playlist .item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.glyphicon-remove {
  text-align: right;
}

.multiline {
  white-space: pre; 
  word-wrap: break-word;
}

#scrollable-dropdown-menu {
  clear: both;
  margin-left: 5px;
  padding: 14px;
}

.tt-dropdown-menu {
  max-height: 490px;
  background-color: #fff;
  overflow-y: auto;
}

.forBackspace {
  position: absolute;
  top: -9999px;
}