body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  margin-bottom: 120px;
  background-color: #f0f0f0;
}

a {
  color: #00B7FF;
}

h1 {
  letter-spacing: -20;
  font-weight: 900 !important;
  font-family: Helvetica !important;
  font-size: 60px !important;
  padding: 16px;
  border-bottom: 1px solid #dfdfdf;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#player {
  display: inline-block;
}

.releaseContainer {
  padding: 16px;
}

.releaseh2 {
  font-weight: 800;
}

.releaseh4 {
  font-weight: 500;
}

#player {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

#bloodhound {
  padding: 20px;
}

#bloodhound input.typeahead {
  width: 500px;
  margin-top: 15px;
}

ul.playlist li {
  color: #3f3f3f;
}

ul.playlist li:hover {
  cursor: pointer;
  color: #7e7e7e;
}

#playlist {
  border-left: 1px solid #dfdfdf;
  margin-left: 20px;
  text-align: right;
}

.playlist-li {
  margin-bottom: 15px;
  /*border-left: 1px solid #eaeaea;*/
  list-style: none;
  font-size: 15px;
}

.glyphicon-remove {
  text-align: right;
}

.multiline {
  white-space: pre; 
  word-wrap: break-word;
}

#scrollable-dropdown-menu {
  clear: both;
  margin-left: 5px;
  padding: 14px;
}

.tt-menu {
  max-height: 150px;
  background-color: #fff;
  overflow-y: auto;
}